.myapp h1 {
  font-family: inherit;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  color: inherit;
}

.myapp h1 small {
  color: gray;
}

.myapp table{
	margin-top: 20px;
	width: 100%;
}

.myapp .publish-queue-list th {
	/*text-align: left;*/
}